.coffeehouses h3, .about h3, .production h3, .ecoEffects h3, .drinks h3, .healtnAndBenefits h3, .coffeFacts h3, .history h3, .latte h3 {
    padding-left: 20px;    
}

.text p, .text h3 {
    padding: 20px;
}

 .text > #img {
     width: 20%;
     display: flex;
 }

 .text>div>img {
     width: 20%;
 }

 .text>div>img:nth-last-child(1) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
 }